/* Write your CSS below */

@font-face {font-family: 'SharpSans_No1-black';src: url('../assets_from_client/fonts/SharpSans-No1-Black.otf') format('opentype');}
@font-face {font-family: 'SharpSans_No1-Medium';src: url('../assets_from_client/fonts/SharpSans-No1-Medium.otf') format('opentype');}
::placeholder {text-transform: capitalize;}
h1,h2 {font-family: 'SharpSans_No1-black';text-transform: uppercase;position: relative;}
h1 {margin-top: 10%;text-align: center;}
html, body {font-family: 'SharpSans_No1-Medium';color: white;}
body{background-image: url(../assets_from_client/assets/login-bg.jpg);}
#app {display:flex;width: 100%; height: 90%;flex-direction: column;}
.actions button:hover {background-color: white;color: black;}
.actions button:focus {background-color: #5AC8E0;;color: white;}  
.invalid {border: 1px solid red;outline-color: red;}


/*Mobile View*/
@media only screen and (max-width: 426px)
{
      .actions {
        position: absolute;
        top: 15%;
        left: 7.5%;
        right: 0;
        margin: auto;}

      .actions button {
        background-color: #8a8a8a;
        height: 40px;
        border-radius: 8px;
        margin-bottom: -8px;
        font-family: 'SharpSans_No1-black';
        text-transform: uppercase;
        border-color: transparent;
        color: rgb(0, 0, 0);
      }

      .register-form h2:before {
        content:url(../assets_from_client/assets/WSJ_Horizontal.png);
        transform: scale(.4);
        position: absolute;
        top: -260%;
        left: -75%;
        margin-top: -4%;
        margin-bottom: 15%;
      }

      .signin-form h2:before {
        content:url(../assets_from_client/assets/WSJ_Horizontal.png);
        transform: scale(.4);
        position: absolute;
        top: -260%;
        left: -75%;
        margin-top: -4%;
        margin-bottom: 15%;
      }

      .feedback h2:before {
        content:url(../assets_from_client/assets/WSJ_Horizontal.png);
        transform: scale(.4);
        position: absolute;
        top: -260%;
        left: -75%;
        margin-top: -4%;
        margin-bottom: 15%;
      }

      .feedback {
        background-color: #111111;
        width: 85%;
        height: 47%;
        position: absolute;
        top: 19.5%;
        left: 0;
        right: 0;
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20%;
        border:thin solid #5AC8E0;
      }

      .feedback:before {
        content: " ";
        position: absolute;
        z-index: 1;
        bottom:0;
        right:0;
        border-bottom: 65px solid #5AC8E0;
        border-left: 120px solid transparent;
      }

      .register-form {
        background-color: #111111;
        width: 85%;
        height: 77%;
        position: absolute;
        top: 19.5%;
        left: 0;
        right: 0;
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 25%;
        border:thin solid #5AC8E0;
      }

      .register-form:before {
        content: " ";
        position: absolute;
        z-index: 1;
        bottom:0;
        right:0;
        border-bottom: 65px solid #5AC8E0;
        border-left: 120px solid transparent;
      }

      .signin-form {
        background-color: #111111;
        width: 85%;
        height: 52%;
        position: absolute;
        top: 19.5%;
        left: 0;
        right: 0;
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 25%;
        border:thin solid #5AC8E0;
      }

      .signin-form:before {
        content: " ";
        position: absolute;
        z-index: 1;
        bottom:0;
        right:0;
        border-bottom: 65px solid #5AC8E0;
        border-left: 120px solid transparent;
      }

      label {
        width: 100%;
        display:inline-block;
      }

      input {
        width: 100%;
        height: 30px;
        margin-bottom: 15px;
      }

      input[type=submit] {
        margin-top: 15px;
        position: relative;
        left: 10%;
        width: 75%;
        height: 50px;
        background-color: white;
        color: black;
        font-family: 'SharpSans_No1-black';
        text-transform: uppercase; 
      }
}
/*End of Mobile View*/

/*Tablet View*/
@media only screen and (min-width: 427px) and (max-width: 800px) 
{
        .actions {
        position: absolute;
        top: 18.5%;
        left: 15%;
        right: 0;
        margin: auto;}

      .actions button {
        background-color: #8a8a8a;
        height: 40px;
        border-radius: 8px;
        margin-bottom: -8px;
        font-family: 'SharpSans_No1-black';
        text-transform: uppercase;
        border-color: transparent;
        color: rgb(0, 0, 0);
      }

      .register-form h2:before {
        content:url(../assets_from_client/assets/WSJ_Horizontal.png);
        transform: scale(.7);
        position: absolute;
        top: -300%;
        left: -15%;
        margin-top: -4%;
      }

      .signin-form h2:before {
        content:url(../assets_from_client/assets/WSJ_Horizontal.png);
        transform: scale(.7);
        position: absolute;
        top: -300%;
        left: -15%;
        margin-top: -4%;
      }

      .feedback h2:before {
        content:url(../assets_from_client/assets/WSJ_Horizontal.png);
        transform: scale(.7);
        position: absolute;
        top: -300%;
        left: -15%;
        margin-top: -4%;
      }

      .feedback {
        background-color: #111111;
        width: 70%;
        height: 45%;
        position: absolute;
        top: 23%;
        left: 0;
        right: 0;
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 15%;
        border:thin solid #5AC8E0;
      }

      .feedback:before {
        content: " ";
        position: absolute;
        z-index: 1;
        bottom:0;
        right:0;
        border-bottom: 65px solid #5AC8E0;
        border-left: 120px solid transparent;
      }

      .register-form {
        background-color: #111111;
        width: 70%;
        height: 70%;
        position: absolute;
        top: 23%;
        left: 0;
        right: 0;
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 15%;
        border:thin solid #5AC8E0;
      }

      .register-form:before {
        content: " ";
        position: absolute;
        z-index: 1;
        bottom:0;
        right:0;
        border-bottom: 65px solid #5AC8E0;
        border-left: 120px solid transparent;
      }

      .signin-form {
        background-color: #111111;
        width: 70%;
        height: 52%;
        position: absolute;
        top: 23%;
        left: 0;
        right: 0;
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 15%;
        border:thin solid #5AC8E0;
      }

      .signin-form:before {
        content: " ";
        position: absolute;
        z-index: 1;
        bottom:0;
        right:0;
        border-bottom: 65px solid #5AC8E0;
        border-left: 120px solid transparent;
      }

      label {
        width: 35%;
        display:inline-block;
      }

      input {
        width: 63%;
        height: 30px;
        margin-bottom: 15px;
      }

      input[type=submit] {
        margin-top: 15px;
        position: relative;
        left: 35%;
        width: 150px;
        height: 50px;
        background-color: white;
        color: black;
        font-family: 'SharpSans_No1-black';
        text-transform: uppercase; 
      }
}
/*End of Tablet View*/

/*Desktop View*/
@media only screen and (min-width: 801px) 
{
      .actions {
        margin-top: 10px;
        margin-left: 35%;
      }

      .actions button {
        background-color: #8a8a8a;
        height: 40px;
        border-radius: 8px;
        margin-bottom: -8px;
        font-family: 'SharpSans_No1-black';
        text-transform: uppercase;
        border-color: transparent;
        color: rgb(0, 0, 0);
      }

      .register-form h2:before {
        content:url(../assets_from_client/assets/WSJ_Horizontal.png);
        transform: scale(.7);
        position: absolute;
        top: -110px;
        left: -3%;
      }

      .signin-form h2:before {
        content:url(../assets_from_client/assets/WSJ_Horizontal.png);
        transform: scale(.7);
        position: absolute;
        top: -110px;
        left: -3%;
      }

      .feedback h2:before {
        content:url(../assets_from_client/assets/WSJ_Horizontal.png);
        transform: scale(.7);
        position: absolute;
        top: -110px;
        left: -5%;
      }

      .feedback {
        background-color: #111111;
        width: 30%;
        height: 45%;
        margin-left: 35%;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 125px;
        border:thin solid #5AC8E0;
      }

      .feedback:before {
        content: " ";
        position: absolute;
        z-index: 1;
        bottom:0;
        right:0;
        border-bottom: 65px solid #5AC8E0;
        border-left: 120px solid transparent;
      }

      .register-form {
        background-color: #111111;
        width: 30%;
        height: 60%;
        margin-left: 35%;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 125px;
        border:thin solid #5AC8E0;
      }

      .register-form:before {
        content: " ";
        position: absolute;
        z-index: 1;
        bottom:0;
        right:0;
        border-bottom: 65px solid #5AC8E0;
        border-left: 120px solid transparent;
      }

      .signin-form {
        background-color: #111111;
        width: 30%;
        height: 55%;
        margin-left: 35%;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 125px;
        border:thin solid #5AC8E0;
      }

      .signin-form:before {
        content: " ";
        position: absolute;
        z-index: 1;
        bottom:0;
        right:0;
        border-bottom: 65px solid #5AC8E0;
        border-left: 120px solid transparent;
      }

      label {
        display:inline-block;
        width: 32%;
        padding-bottom: 15px;
      }

      input {
        width: 65%;
        height: 30px;
      }

      input[type=submit] {
        margin-top: 15px;
        position: relative;
        margin-left: 36%;
        width: 150px;
        height: 50px;
        background-color: white;
        color: black;
        font-family: 'SharpSans_No1-black';
        text-transform: uppercase; 
      }
}
/*End of Desktop View*/